<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script type="text/javascript" src="vue.js"></script>
</head>
<body>
    <div id="app">
        <template v-if="regType=='mail'">
        邮箱:<input type="text" name="usename" key="mail-register">
        </template>
        <template v-else="regType=='mail'">
            手机:<input type="text" name="usename" key="phone-register">
        </template>
    
        <input type="radio" value="mail" v-model="regType">邮箱注册 
        <input type="radio" value="phone" v-model="regType">手机注册 
    </div>
    
    <script type="text/javascript">
        var app = new Vue({
            el:'#app',
            data:{
               regType:'mail'
            }
        });
    </script>
</body>
</html>