<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script type="text/javascript" src="vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- 子组件在根组件中使用，并且能重复使用 -->
        <!-- 直接定义会被定义成属性，为字符类型，如果前面加上：会保留属性类型，如这里的boolean值类型 -->
        <ads cyj="cyjcool" :show-del-btn="false" :hao2="hao"></ads>
    </div>
    
    <!-- 通过script标签添加文本信息，不能公用一个数据，不然重复利用时会一个改变全部改变 -->
    <script type="text/x-template" id="ads">
        <div>
            {{cyj}}
            <li v-for="(v,k) in cool">
                {{v.ad}}
                <button @click="del(k)" v-if="showDelBtn">删除</button>
            </li>
            <li v-for="(v,k) in hao2">
               {{v.ad}}
            </li>
        </div>
    </script>

    <script type="text/javascript">
        // 先将组件定义好，直接在根组件中使用
        var ads = {
            template:"#ads",
            // 定义属性时，如果上面用-连接的参数值，这里改为驼峰命令法
            props:['cyj','showDelBtn','hao2'],
            data(){
               return {
                 cool:[
                      {ad:'yanzhi'},
                      {ad:'zhishang'}
                    ]
               } 
            }
        };
              
        // 根组件特殊，直接通过el当作模板
        var app = new Vue({
            el:'#app',
            components:{ads},
            // 这里的父组件给子组件传值，也要在子组件的props中进行定义，直接把值传递给属性了
            data:{
                hao:[{ad:'hello'},{ad:'world'}]
            }
        });
    </script>
</body>
</html>