<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script type="text/javascript" src="vue.js"></script>
</head>
<body>
    <div id="app">
        <div :is="formType"></div>
        <input type="radio" v-model="formType" value="hdInput">输入框
        <input type="radio" v-model="formType" value="hdTextarea">文本域
    </div>

    <script type="text/javascript">
        var hdInput = {
            template:"<div><input/></div>"
        }
        var hdTextarea = {
            template:"<div><textarea></textarea></div>"
        };
        
        // 根组件特殊，直接通过el当作模板
        var app = new Vue({
            el:'#app',
            components:{hdInput,hdTextarea},
            data:{
               formType:"hdInput"
            }
        });
    </script>
</body>
</html>