<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script type="text/javascript" src="vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="checkbox" v-model="copyright">接受协议<br/>
        <span v-if="!copyright">请先接受协议</span>
        <br/>
        <button v-if="copyright">注册</button>
    </div>

    <script type="text/javascript">
        var app = new Vue({
            el:'#app',
            data:{
                copyright:false
            }
        });
    </script>
</body>
</html>